<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato | Anna Bella Oficial</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <img src="../images/capa.png" alt="Anna Bella Modelo">

    <nav>
        <a href="index.html">Home</a> | 
        <a href="biografia.html">Biografia</a> | 
        <a href="campanhas.html">Campanhas Publicitárias</a> | 
        <a href="contato.html">Contato</a>
    </nav>

    <section>
        <h3 class="title">Contato</h3>

        <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat urna vitae tortor ornare ultrices vitae ac est. Curabitur blandit maximus neque non iaculis. Fusce et dolor lectus. Etiam id nulla tristique, rhoncus lacus vel, maximus est. In lorem mauris, dignissim vel lectus non, tempus bibendum dolor. Aliquam erat volutpat. Integer elementum urna nisi, rutrum pharetra nisl malesuada vitae. Vestibulum luctus scelerisque elit, vel vestibulum lectus tristique vel. Praesent commodo ac diam nec pellentesque. Sed eget justo convallis elit viverra semper id mollis dui.
        </p>

        <p class="text">
            <strong>E-Mail:</strong> contato@annabella.com.br
            <br>
            <strong>Telefone:</strong> (11) 99878-6589
        </p>
    </section>

    <footer>
        Todos os direitos reservados &copy;
    </footer>
</body>
</html>
