<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Página Inicial | TecBlog</title>
</head>
<body>
    <div id="header">
        <h1>Tec<span id="white-logo">Blog</span></h1>
        <nav id="nav">
            <a href="index.html">Home</a>
            <a href="jogos.html">Jogos</a>
            <a href="celulares.html">Celulares</a>
            <a href="informatica.html">Informática</a>
            <a href="eletronicos.html">Eletrônicos</a>
        </nav>
    </div>

    <div class="content">
        <div id="posts">
            <div class="post">
                <h2>
                    Título da postagem 1
                </h2>
                <p class="post-date">Postado em 6 de fevereiro de 2022</p>
                <img src="../public/images/imagem1.jpg" alt="computador">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in massa ut elit dapibus pharetra. Nullam pretium sapien id ante bibendum porttitor. Praesent a gravida est. Sed congue erat metus, quis condimentum purus dapibus id. Ut arcu dui, vestibulum id libero eu, euismod mattis lectus. Aliquam sit amet risus tellus. Phasellus id lectus vel magna ultrices egestas. Mauris quis odio sed justo malesuada molestie. Mauris ipsum odio, pulvinar a ipsum et, sagittis porta mauris. Donec ut purus sit amet nibh ultricies congue eleifend ut libero. Duis pharetra vel est eu eleifend. Duis gravida ultrices dui. Nulla at bibendum quam, et laoreet felis. Pellentesque sodales, metus at suscipit pretium, magna dolor vestibulum dolor, eu accumsan lorem felis interdum nunc. Etiam efficitur, sapien in commodo efficitur, nunc quam sodales nunc, et pellentesque lorem augue a risus. Pellentesque rutrum placerat dignissim.</p>
                <a href="" class="post-link">Leia mais</a>
            </div>

            <div class="post">
                <h2>
                    Título da postagem 2
                </h2>
                <p class="post-date">Postado em 10 de fevereiro de 2022</p>
                <img src="../public/images/imagem2.jpg" alt="computador">
                <p>Aliquam erat volutpat. Vestibulum in vehicula justo. Phasellus vulputate finibus sapien sollicitudin elementum. Nam vitae libero ut orci egestas pulvinar. Mauris id pretium turpis. Phasellus iaculis neque in augue consectetur, vel interdum orci consequat. Morbi hendrerit at ex sed suscipit. In gravida maximus eleifend.</p>
                <a href="" class="post-link">Leia mais</a>
            </div>
        </div>
        <div class="side-menu">
            <h3>Postagens recentes</h3>
            <div>
                <p class="side-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in massa ut elit dapibus pharetra.</p>
                <a href="">Leia mais</a>
                <hr />
                <p class="side-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in massa ut elit dapibus pharetra.</p>
                <a href="">Leia mais</a>
                <hr />
                <p class="side-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in massa ut elit dapibus pharetra.</p>
                <a href="">Leia mais</a>
            </div>
        </div>

        <div id="footer">
            Todos os direitos reservados
        </div>
    </div>
    
</body>
</html>