<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Links</title>
  </head>
  <body>
    <h1>Google</h1>
    <!-- Link (hyperlink reference) -->
    <a href="https://google.com">Clique aqui para acessar</a>

    <hr />

    <h1>Bing</h1>
    <!-- Link (hyperlink reference) -->
    <a href="https://bing.com">Clique aqui para acessar</a>

    <hr />

    <h1>DuckDuckGo</h1>
    <!-- Link (hyperlink reference) -->
    <a href="https://duckduckgo.com"> Clique aqui para acessar</a>
  </body>
</html>
