<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Caracteres Especiais</title>
  </head>
  <body>
    <h2>Caracteres Especiais</h2>
    <p>
      Os caracteres especiais são muito úteis quando é necessário escrever um
      caracter na sua página sem acabar fazendo uma tag dentro do seu HTML, como
      por exemplo: &lt;p&gt;
    </p>

    <hr>

    <h2>Lista de Caracteres Especiais</h2>
    <p>
      <a href="https://www.w3schools.com/html/html_entities.asp">Clique aqui</a>
      para acessar a lista de caracteres especiais (entidades) que você pode
      utilizar no seu código HTML
    </p>
  </body>
</html>
