<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Empresa</title>
  </head>
  <body>
    <h2>A empresa</h2>
    <!-- Conteúdo -->
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat,
      quam in congue viverra, elit elit rutrum nunc, vel viverra nunc velit non
      arcu. Fusce et enim neque. Orci varius natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus. Pellentesque bibendum, justo
      non viverra sodales, ipsum augue interdum sapien, eget ullamcorper nisl
      neque at magna. Nullam sit amet tincidunt arcu. Pellentesque habitant
      morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      Nam bibendum lectus sapien, sit amet fermentum libero malesuada a.
    </p>

    <!-- Linha de divisória -->
    <hr />

    <h2>Vantagens de ser cliente</h2>
    <ol type="I">
      <li>Atendimento <strong>rápido</strong></li>
      <li>Preços <em>especiais</em></li>
      <li>Muitas cidades</li>
    </ol>

    <hr />

    <h2>Avaliações dos clientes</h2>
    <p>
      <!-- Itálico -->
      <em
        >"Gostei demais do atendimento, foi muito rápido e co certeza irei
        voltar!"
      </em>
      <br />
      <!-- Negrito -->
      <strong>Maria Almeida</strong>
    </p>

    <hr />

    <!-- Navegação entre páginas -->
    <h2>Navegação</h2>
    <ul>
      <li>Home</li>
      <li>Quem somos?</li>
      <li>Contato</li>
    </ul>
  </body>
</html>
