<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imagens</title>
  </head>
  <body>
    <h1>Ferrari</h1>
    <!-- Imagem -->
    <img src="../images/ferrari.png" width="500" height="294" alt="Ferrari" />

    <hr />

    <h1>Porsche</h1>
    <!-- Imagem -->
    <img src="../images/porsche.png" width="500" height="294" alt="Porsche" />

    <hr />

    <h1>Lamborghini</h1>
    <!-- Imagem -->
    <img
      src="../images/lamborghini.png"
      width="500"
      height="400"
      alt="Lamborghini"
    />
  </body>
</html>
