<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listas</title>
  </head>
  <body>
    <h2>Afazeres</h2>
    <!-- Lista ordenada: 1, A, a, I -->
    <ol type="1">
      <!-- Itens da lista -->
      <li>Fazer compras</li>
      <li>Estudar programação</li>
      <li>Estudar piano</li>
    </ol>

    <h2>Lista de compras</h2>
    <!-- Lista desordenada: circle, square, disc -->
    <ul>
      <!-- Itens da lista -->
      <li>Batata</li>
      <li>Cenouras</li>
      <li>Mandioca</li>
    </ul>
  </body>
</html>
