<!-- ATENÇÃO! A estrutura e estilização dessa página foi feita utilizando tabelas, o que não é recomendado. Assim foi feito, pois o curso ainda não abordou os conceitos de CSS3 -->
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contato | UNES</title>
  </head>
  <body background="../images/fundo2.png">
    <table width="900" align="center">
      <tr>
        <header>
          <td height="90">
            <!-- Logo -->
            <img src="../images/logo.png" alt="logo" />
          </td>

          <td align="right">
            <!-- Navegação -->
            <nav>
              <a href="../index.html">Home</a> |
              <a href="sobre.html">Sobre</a> |
              <a href="contato.html">Contato</a>
            </nav>
          </td>
        </header>
      </tr>

      <tr>
        <td colspan="2">
          <section>
            <!-- Conteúdo -->
            <h2>Entre em contato</h2>
            <p>
              Digite abaixo os seus dados, assunto e descrição do motivo de seu
              contato:
            </p>

            <hr />

            <form>
              <label for="name">Nome completo: </label><br />
              <input type="text" name="name" id="" /><br />

              <label for="email">E-Mail: </label><br />
              <input type="text" name="email" id="" /><br />

              <label for="subject">Assunto: </label><br />
              <input type="text" name="subject" id="" /><br />

              <label for="description">Descrição: </label><br />
              <textarea name="description" id="" cols="30" rows="5"></textarea
              ><br />

              <input type="submit" value="Enviar" />
            </form>
          </section>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <!-- Rodapé -->
          <footer>
            <h4>UNES | Todos os direitos reservados &reg; - 2021</h4>
          </footer>
        </td>
      </tr>
    </table>
  </body>
</html>
