<!-- ATENÇÃO! A estrutura e estilização dessa página foi feita utilizando tabelas, o que não é recomendado. Assim foi feito, pois o curso ainda não abordou os conceitos de CSS3 -->
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre | UNES</title>
  </head>
  <body background="../images/fundo2.png">
    <table width="900" align="center">
      <tr>
        <header>
          <td height="90">
            <!-- Logo -->
            <img src="../images/logo.png" alt="logo" />
          </td>

          <td align="right">
            <!-- Navegação -->
            <nav>
              <a href="../index.html">Home</a> |
              <a href="sobre.html">Sobre</a> |
              <a href="contato.html">Contato</a>
            </nav>
          </td>
        </header>
      </tr>

      <tr>
        <td colspan="2">
          <section>
            <!-- Conteúdo -->
            <h2>Quem somos?</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              cursus euismod ex, eu luctus mi malesuada in. Sed ut ultrices
              ante. Etiam nec dui luctus, vestibulum ligula non, tincidunt arcu.
              Proin et accumsan quam. Ut id ornare orci, vel mattis dui. Cras
              aliquet congue ex sit amet tempus. Maecenas commodo facilisis
              quam, a imperdiet dui fermentum eu. Duis mi urna, vehicula quis
              massa tempus, pharetra porttitor neque. Vivamus libero tellus,
              rhoncus ac venenatis at, pulvinar vitae odio. Aenean dolor lorem,
              imperdiet et magna a, facilisis suscipit libero. Vivamus faucibus
              odio lacus, sit amet tristique libero feugiat et. Integer vitae
              tempor lorem. Nam finibus leo interdum dui posuere dictum. Mauris
              pulvinar id tellus tempor vulputate. Ut id eleifend mauris. Sed
              posuere nibh lorem.
            </p>

            <h2>5 Motivos para Estudar na UNES</h2>
            <ol type="1">
              <li>Material sempre atualizado</li>
              <li>Tablets em sala de aula</li>
              <li>Professores renomados</li>
              <li>Universidade bem avaliada pelo MEC&copy;</li>
              <li>Ótima localização (Próxima ao Metrô Santana)</li>
            </ol>

            <!-- Divisão de conteúdo -->
            <hr />

            <h2>Nossos Compromissos</h2>

            <p>
              Sed euismod ac nulla vitae fermentum. Morbi lacinia tincidunt
              tempus. Pellentesque habitant morbi tristique senectus et netus et
              malesuada fames ac turpis egestas. Phasellus varius magna eget
              arcu bibendum semper. Vivamus sed purus lacinia, euismod est at,
              pharetra eros. Vestibulum risus nisi, lobortis in purus sed,
              pulvinar maximus orci. Nulla et metus sit amet nibh sollicitudin
              bibendum id sed odio. Fusce sed purus vel sem suscipit pharetra.
            </p>
          </section>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <!-- Rodapé -->
          <footer>
            <h4>UNES | Todos os direitos reservados &reg; - 2021</h4>
          </footer>
        </td>
      </tr>
    </table>
  </body>
</html>
