<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bordas</title>

    <style>
        /* Tipos de borda: https://www.w3schools.com/css/css_border.asp */
        #content {
            border: 10px outset green;
        }
    </style>
</head>
<body>
    <div id="content">
        <p>Bordas</p>
        <p>Bordas</p>
        <p>Bordas</p>
        <p>Bordas</p>
    </div>

    <p>
        Sem bordas
    </p>
</body>
</html>