<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cores e Imagens de Fundo</title>
    <style>
        .bg {
            /* background = Shorthand Property () */
            background: #313131 url('../images/yoshi.png') no-repeat fixed;
            color: white;
            
            /*
            Primeiro valor: left, center, right
            Segundo valor: top, center, bottom
            */
            background-position: center center;
        }

        .text {
            margin: 8rem;
        }
    </style>
</head>
<body class="bg">
    <h1>Conteúdo do título 1</h1>

    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat urna vitae tortor ornare ultrices vitae ac est. Curabitur blandit maximus neque non iaculis. Fusce et dolor lectus. Etiam id nulla tristique, rhoncus lacus vel, maximus est. In lorem mauris, dignissim vel lectus non, tempus bibendum dolor. Aliquam erat volutpat. Integer elementum urna nisi, rutrum pharetra nisl malesuada vitae. Vestibulum luctus scelerisque elit, vel vestibulum lectus tristique vel. Praesent commodo ac diam nec pellentesque. Sed eget justo convallis elit viverra semper id mollis dui. </p>

    <p class="text"> In facilisis augue vitae orci placerat suscipit. Ut tincidunt quis velit sed auctor. Nullam ultrices rhoncus risus. Curabitur non elementum libero. Pellentesque auctor, sem ac pulvinar dictum, sapien mauris porttitor tellus, a suscipit ante mauris ac arcu. Etiam efficitur felis scelerisque malesuada volutpat. Nunc tempor egestas massa iaculis feugiat. Sed lacinia neque et justo pellentesque molestie. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque semper ante eget quam congue commodo. Vestibulum molestie volutpat imperdiet. Aenean eget leo eu neque commodo ultrices. Phasellus sit amet enim in velit congue rhoncus vel vitae ipsum. Etiam id dui nisl. </p>

    <p class="text"> Donec eu placerat ligula, lobortis accumsan dolor. Nam ut euismod ante. Pellentesque vel tempus felis. Pellentesque dignissim tortor quis posuere cursus. Morbi congue dignissim leo varius consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Phasellus condimentum velit ac lorem molestie, ac faucibus dolor vestibulum. Aliquam elementum sed velit vel luctus. Etiam elit eros, auctor vel euismod vel, porta ac turpis. Etiam at fermentum turpis. Phasellus ultrices egestas urna, at porta ante mollis porta. </p>
</body>
</html>