<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fontes e Cores</title>

    <style>
      body {
        background: #313131;
      }
      .content {
        color: rgb(109, 253, 56);
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif ;
      }
    </style>
  </head>
  <body>
    <p class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
      fermentum posuere erat, tempor suscipit elit facilisis vel. Praesent
      porttitor tempus vehicula. Aliquam et enim suscipit magna interdum
      scelerisque eu vitae nisi. Morbi non leo sem. Pellentesque habitant morbi
      tristique senectus et netus et malesuada fames ac turpis egestas. Integer
      non turpis eros. Aenean tellus mauris, rutrum ac mattis eu, malesuada
      sollicitudin est. Quisque tincidunt nibh at cursus lobortis. Curabitur at
      elit vel arcu tincidunt fringilla. Suspendisse molestie sodales
      condimentum. Etiam eu ipsum scelerisque, porta dolor ullamcorper, bibendum
      felis. Duis diam nulla, pulvinar tempor sem sed, tincidunt rutrum est.
      Duis in feugiat mi. Praesent diam sem, cursus ac sapien nec, aliquam
      consectetur urna.
    </p>

    <p class="content">
      Cras facilisis enim eget varius feugiat. Praesent vestibulum erat non
      interdum feugiat. Ut quis magna quis tellus blandit consequat. Fusce
      consectetur dui ipsum, sit amet aliquam massa sodales suscipit. Vestibulum
      non fringilla nulla. Nullam vestibulum nunc eu nunc interdum convallis.
      Maecenas nulla velit, mollis vitae condimentum ut, varius maximus sem.
      Duis mollis ex felis, vel bibendum purus pellentesque convallis. Nullam
      sit amet hendrerit urna, a gravida nulla. Nunc ex ex, porttitor sed nunc
      a, placerat tempor orci. Proin vel condimentum enim. Vestibulum faucibus
      nunc volutpat turpis efficitur porta. Nulla vel hendrerit libero. Donec
      consequat nibh non odio accumsan cursus. Suspendisse in lorem eu tellus
      vehicula vulputate.
    </p>

    <p class="content">
      Mauris sit amet turpis ut metus vestibulum gravida. Sed lobortis diam
      rutrum, bibendum tortor eu, porta orci. Praesent at suscipit sem. Integer
      consectetur venenatis nisl id malesuada. Duis maximus, augue sit amet
      vestibulum imperdiet, lorem quam viverra nulla, id viverra ante velit ut
      lacus. Nam at turpis hendrerit, fermentum augue vel, commodo felis. Sed
      eget purus nisi. Mauris risus arcu, semper eu velit a, dapibus porttitor
      quam. Integer dapibus non justo quis luctus. Etiam imperdiet dignissim
      mauris eu semper. Nulla non congue urna, in rutrum metus. Nam sit amet
      risus rhoncus ex feugiat volutpat eget vitae nisi.
    </p>
  </body>
</html>
